<div id="quote" class="quote-color serif large quote">
    <textarea class="new-quote quote-input serif" placeholder="Enter quote here&hellip;" name="quote-text"></textarea>
    <input type="text" class="quote-input serif small-pad-left" name="quote-source" placeholder="Source&hellip;">
</div>


<div class="footer nav">
    <div class="button active left"><</div>
    <div class="button main active center js-save">save</div>
    <div class="button active right-1" id="camera">photo</div>
</div>