<div id="quote" class="quote-color serif large quote">
    {{text}}
</div>
<div class="footer nav">
    <div class="button active left-1"><</div>
    <div class="button main active center add">+</div>
    <div class="button right-2">></div>
    <div class="button right-1 active">cal.</div>
</div>