* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgb(65,64,66);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

@font-face{
    font-family: 'franchise';
    src: url('../fonts/Franchise-Bold.ttf') format('opentype');
}

.footer{
    position:fixed;
    bottom:0;
    right: 0;
    left:0;
}

.nav{
    height: 40px;
    background-color: rgb(255,255,255);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: rgb(255,255,255);
}

.quote-color{
    color: rgb(188,190,192);
}

.franchise{
    font-family: 'franchise' sans-serif;
}

.serif{
    font-family: georgia serif;
}

.large{
    font-size: 2.3em;
}

.smaller-font{
    font-size: .75em;
}

.logo{
    font-size: 2.5em;
    text-indent: -25%;
}

.quote-input{
    background-color: rgba(255,255,255,0.2);
    border: none;
    color: rgb(255,255,255);
    font-size: .8em;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.8);
    width: 240px;
}

.new-quote{
    height:15em;
    padding: .5em .75em;
}

.small-pad-left{
    padding-left: .5em;
}

.button{
    color:rgb(196,196,196);
}

.button.active{
    color: rgb(0,0,0);
}

.nav .button.main{
    width: 60px;
    height: 150%;
    border-radius: 12px;
    margin-top: -10px;
    background: rgb(209, 211, 212);
    font-size: 1.5em;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    line-height: 2.8em;
    margin-left: -30px;
    padding-left: 0;
    left: 50%;
}

.button.main.add{
    font-size: 40px;
    line-height: 1.5em;
}

.nav .button{
    position: absolute;
    top: 0;
    min-height: 40px;
    min-width: 40px;
    line-height: 3.8em;
    padding-left: .5em;
}

.nav .button a{
    height: 100%;
    width: 100%;
}

.left-1{
    left: 0;
}

.right-1{
    right: 16%;
}

.right-2{
    right: 0;
}

.center{
    margin:0 auto;
    text-align: center;
}
.right{
    float: right;
}

.left{
    float: left;
}

.text-replace{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.quote{
    margin:28% 15%;
}

.bold{
    font-weight: bold;
}

.quotation-mark{
    position: absolute;
    top: 5%;
    left: 5%;

    color: rgb(88,89,91);
    z-index: -1;
    font-size: 10em;
}

.logo{
    text-transform: uppercase;
}

.block{
    display: block;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@media screen and (min-width:800px){
    body{
        font-size: 1.6em;
    }

    .logo{
        font-size: 1.2em;
    }

    .footer.nav{
        font-size: 1em;
    }

    .footer .button{
        line-height: 1em;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
